<h2>Edit your workout!</h2>

<%= form_for(@workout) do |f| %>
    <%= f.label 'Workout name:' %> <br>
    <%= f.text_field :name %> <br> <br>
    <%= f.label 'Workout length in minutes:' %> <br>
    <%= f.text_field :length %> <br>
    <%= f.submit 'Submit' %>
<% end %>

Click on an exercise to delete it from this workout. <br>
<% @workout.exercises.each do |e| %>
<%= link_to e.name, exercises_path(e), method: 'delete' %>
<% end %>