<h2>Edit your workout!</h2>

<%= form_for(@workout) do |f| %>
    <%= f.label 'Workout name:' %> <br>
    <%= f.text_field :name %> <br> <br>
    <%= f.label 'Workout length in minutes:' %> <br>
    <%= f.text_field :length %> <br>
    <%= f.submit 'Submit' %>
<% end %>
