<% if @workout.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% @workout.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<h2>Create your workout!</h2>

<%= form_for @workout do |f| %>
    <%= f.label 'Workout name:' %> <br>
    <%= f.text_field :name %> <br> <br>
    <%= f.label 'Workout length in minutes:' %> <br>
    <%= f.text_field :length %> <br><br>
    <%= f.label 'Add an existing exercise to get started:' %> <br>
    <%= f.hidden_field :user_id, value: current_user.id %> 
    <%= f.collection_select :exercise_ids, Exercise.all, :id, :name, include_blank: true %> <br>

    
    <h3> Or, create your first exercise for this workout: </h3>   

 <%= f.fields_for :exercises, @workout.exercises.build do |exf| %>
    <%= exf.label 'Exercise name:' %> <br>
    <%= exf.text_field :name %> <br>
    <%= exf.label 'Sets:' %> <br>
    <%= exf.number_field :sets %> <br>
    <%= exf.label 'Reps:' %> <br>
    <%= exf.number_field :reps %> <br>
    <%= exf.label 'Weight in lbs:' %> <br>
    <%= exf.number_field :weight %> <br>
    <%= exf.label 'Notes:' %> <br>
    <%= exf.text_area :notes %> <br>
    <%= exf.hidden_field :user_id, value: current_user.id %>

<% end %> <br/>

    <%= f.submit 'Submit' %>
<% end %>