

<h2><%= @exercise.name %></h2>
Sets: <%= @exercise.sets %><br>
Reps: <%= @exercise.reps %><br>
Weight: <%= @exercise.weight %><br>
Notes: <%= @exercise.notes %> <br>

<%= link_to 'Back to Workout', workout_path(@workout) %>